/result
public/
.ionide/
hugo/static/images/galleries
images/**/*-thumb.jpg
*.log
*.fls
*.fdb_latexmk
*.out
*.aux
*.synctex.gz
*.swp

pdfs/*.pdf

hugo/static/misc/AdjointFunctorTheorems
hugo/static/misc/FriedbergMuchnik/
hugo/static/misc/ModularMachines/*.tex
hugo/static/misc/ModularMachines/*.pdf
hugo/static/misc/MonadicityTheorems/
hugo/static/misc/MultiplicativeDetProof/
hugo/static/misc/NonstandardAnalysis/
hugo/static/misc/ParametricBoundedLoeb2016/
hugo/static/misc/RepresentableFunctors/
hugo/static/misc/Tennenbaum/
hugo/static/misc/TokyoEntrance2016/

.DS_Store

.idea/
.profile*
.direnv/
