{{- if (isset .Params "gallery") -}}
    {{- $url := "https://cdnjs.cloudflare.com/ajax/libs/fancyapps-ui/5.0.35/fancybox/fancybox.umd.js" -}}
    {{- $hash := "sha512-Jbl+VuuqPnKsz0QxpW0eFun5z3ftzXwFOGxA75I5+o7zlY5uFu+FmGp9mY3BEso+f3Ej4YtFtnUGeKwHU/YVvA==" -}}
    <script defer
            src="{{- $url -}}"
            integrity="{{- $hash -}}"
            crossorigin="anonymous"></script>
    {{- $url := "https://cdnjs.cloudflare.com/ajax/libs/fancyapps-ui/5.0.35/fancybox/fancybox.min.css" -}}
    {{- $hash := "sha512-iYdUaD/DKwJeYpOBlNLwBcGtJj/GSrFDzbPAqye/+IB/Fz6vwRekM2Wqi53sIgxCfaKp3uXpdT666ehkGP1qhw==" -}}
    <link rel="stylesheet"
          href="{{- $url -}}"
          integrity="{{- $hash -}}"
          crossorigin="anonymous" />
{{- end -}}